<div style="text-align:center;margin-top:150px;font-size:100px;">
	<a href="/reset"><%=@mensaje%></a>
</div>
<div style="display:none">
Ganador:
<div id="ganador" style="display:inline-block">
<%=@@partida.game.ganador%> 
</div>
</div>

