<h1>Tateti</h1>
	<%= @@turno.jugador %> 
<table>
	<tr>
		<td id="td_1_1"><%=@@td_1_1%></td>
		<td id="td_1_2"><%=@@td_1_2%></td>
		<td id="td_1_3"><%=@@td_1_3%></td>
	</tr>
</table>

<p>
<a href="/">Reset</a>
</p>
